{% extends 'base_templates/base.html' %}
{% block SEO %}
    <meta charset="utf-8">
    <title>Biz499 | {{post.meta_title}}</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="{{post.meta_description}}">
    <meta name="keywords" content="{{post.meta_keywords}}">
    <meta name="author" content="Biz499 | Marketing Agency">
{% endblock SEO %}

{% block vendor_style %}
{% load static %}
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="../assets/vendor/simplebar/dist/simplebar.min.css"/>
{% endblock vendor_style %}

{% block content %}
      <!-- Page title -->
      <section class="bg-secondary py-3 py-sm-grid-gutter">
        <div class="container py-grid-gutter">
          <ul class="nav nav-muted mb-2">
            {% for cat in post.categories.all %}
            <li class="nav-item me-2">
              <a class="nav-link d-inline-block me-2 p-0 fw-normal" href="#">
                {{cat}}
              </a>
              <span class="text-border">|</span>
            </li>
            {% endfor %}
            <li class="nav-item me-2">
              <a class="nav-link d-inline-block me-2 p-0 fw-normal" href="#">
                {{post.publish_date}}
              </a>
            </li>
          </ul>
          <h1 class="col-lg-8 col-md-10 mb-3 px-0 pb-1">{{post.title}}</h1>
          <span class="text-muted">4 min read</span>
        </div>
      </section>


      <!-- Page content -->
      <section class="container mt-grid-gutter mb-lg-6 mb-5 py-2 pb-lg-0 pt-sm-grid-gutter">
        <div class="row">

          <!-- Content -->
          <div class="col-lg-8">
            {{post.Description|safe}}
            <div class="d-flex justify-content-between mt-grid-gutter pt-sm-grid-gutter">
              <div class="widget">
                <h3 class="h6 d-sm-inline-block me-2 mb-sm-0 mb-3">Tags: </h3>
                {% for tag in post.hashtags.all %}
                <a class="btn-tag rounded-pill me-1 mb-2" href="#">#{{tag}}</a>
                {% endfor %}
              </div>
              <div class="icon-dropdown icon-dropstart mb-sm-0 mb-2">
                <a class="btn-social bs-outline rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Share">
                  <i class="ci-share"></i>
                </a>
                <ul class="icon-drop-menu bg-light">
                  <li class="icon-drop-item">
                    <a href="#" class="btn-social bs-outline rounded-circle">
                      <i class="ci-linkedin"></i>
                    </a>
                  </li>
                  <li class="icon-drop-item">
                    <a href="#" class="btn-social bs-outline rounded-circle">
                      <i class="ci-twitter"></i>
                    </a>
                  </li>
                  <li class="icon-drop-item">
                    <a href="#" class="btn-social bs-outline rounded-circle">
                      <i class="ci-facebook"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <!-- Sidebar -->
          <aside class="col-lg-4">
            <div class="offcanvas offcanvas-collapse offcanvas-end ps-lg-4 ps-xl-5" id="blog-sidebar">
              <div class="offcanvas-header align-items-center shadow mb-3">
                <h5 class="h4 mb-0">Sidebar</h5>
                <button class="btn-close me-n1" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body pt-4 pt-lg-0" data-simplebar data-simplebar-auto-hide="true">

                <!-- Search -->
                <div class="mb-sm-grid-gutter mb-4 pb-2 pb-lg-grid-gutter">
                  <div class="input-group">
                    <input class="form-control rounded pe-5" type="text" placeholder="Search the blog">
                    <button class="btn btn-link px-0 position-absolute top-50 end-0 translate-middle-y me-3 zindex-5" type="button">
                      <i class="ci-search mt-n1"></i>
                    </button>
                  </div>
                </div>

                <!-- Widget: Author -->
                <div class="widget mb-sm-grid-gutter mb-4 pb-2 pb-lg-grid-gutter">
                  <h3 class="h6 mb-4 text-uppercase">Author</h3>
                  <div class="d-flex align-items-start">
                    <img class="d-inline-block rounded-circle me-1 mb-3" src="{{post.author.pic.url}}" alt="Author image" width="100">
                    <div class="ps-3">
                      <h4 class="h5 mb-1">{{post.author.name}}</h4>
                      <p class="mb-3 fs-sm text-muted">{{post.author.position}}</p>
                      <a class="btn-social bs-solid rounded-circle me-2 mb-2" href="#">
                        <i class="ci-twitter"></i>
                      </a>
                      <a class="btn-social bs-solid rounded-circle me-2 mb-2" href="#">
                        <i class="ci-messenger"></i>
                      </a>
                      <a class="btn-social bs-solid rounded-circle me-2 mb-2" href="#">
                        <i class="ci-pinterest"></i>
                      </a>
                      <a class="btn-social bs-solid rounded-circle mb-2" href="#">
                        <i class="ci-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>

                <!-- Widget: Featured entries list -->
                <div class="widget mb-sm-grid-gutter mb-4 pb-2 pb-lg-grid-gutter">
                  <h3 class="h6 mb-4 text-uppercase">Recent posts</h3>
                  <ul class="list-unstyled">
                    {% for blog in latest %}
                    <li class="d-flex align-items-start image-scale mb-4">
                      <a class="flex-shrink-0 image-inner rounded me-3" style="width: 100px;" href="{{blog.get_absolute_url}}">
                        <img src="{{blog.square_small_thumbnail_200_200.url}}" alt="Media">
                      </a>
                      <div class="ps-1">
                        <span class="d-block mb-1 fs-sm text-muted">{{blog.timestamp}}</span>
                        <h4 class="h6 mb-1 nav-dark">
                          <a class="nav-link fw-bold" href="{{blog.get_absolute_url}}">{{blog.title}}</a>
                        </h4>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>

                <!-- Widget: Media grid -->
                <div class="widget mb-sm-grid-gutter mb-4 pb-2 pb-lg-grid-gutter">
                  <h3 class="h6 mb-4 text-uppercase">latest projects</h3>
                  <div class="media-grid">
                    {% for latest in latest_projects %}
                    <div class="media-grid-item">
                      <a class="media-grid-inner" href="{{latest.get_absolute_url}}">
                        <img src="{{latest.photo_2.url}}" alt="Media grid image">
                      </a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </aside><!--  / Sidebar -->
        </div><!--  / row -->
      </section><!--  / container -->



    {% endblock content %}
    


    {% block footernscripts  %}
    {% include "base_templates/footer.html" %}


    <!-- Offcanvas mobile toggle btn -->
    <button class="btn btn-primary btn-sm sidebar-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#blog-sidebar" data-fixed-element>
      <i class="ci-sidebar-right fs-base me-1 align-middle"></i>
      Sidebar
    </button>


    <!-- Vendor scripts: js libraries and plugins-->
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../assets/vendor/jarallax/dist/jarallax.min.js"></script>


    <!-- Main theme script-->
    <script src="../assets/js/theme.min.js"></script>
{% endblock footernscripts  %}